$fondo:#f2f2f2;
$botones: #0b8793;
$gradiante1: #360033;  
$grandiante2:#0b8793;
$bienvenido:#f0eaea;
$publicaciones:#db008d;
$footer:#0b8793;
$copyright: #31113f;
// fondoblog:
$rutas: #263156;
$mecanica: #008fd1;
$bicicletas: #b97777;
$consejos: #1f4866;

$h12: 'NotoSerif', sans-serif;
$h34: 'NotoSans', sans-serif;