@import "variables";
@import "mixins";

*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0 auto;
    background-color: $fondo;
}
// .fondoh{
//     z-index: 100;
//     img{
//     width: 100%;
//     height: 400px;
//     margin: 0 auto;
//     }
// }

header {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 24rem;
    /* background-size: cover; */
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;

    .bienvenida{
        border:1px solid black;
        height: 50px;
        width: 50px;
        color: $bienvenido;
        font-family: $h12;
    }
}



    // 
    img{
        width: 150px;
        height: 50px;
        padding-top: 5px;
    }

    .sencillo{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        background: linear-gradient(to right,$gradiante1, $grandiante2);
         ul {
            list-style:none;
            margin:0;
            padding:0;
            display: flex;
            justify-content: space-around;
            li {
                padding: 20px;

            }
            a {
                color: white;
                text-decoration: none;
                font-size: 0.75rem;
            }
        }
    }
    


header nav ul li:hover {
    background-color: $botones;
}

main{
    
    width: 80%;
        margin: 0 auto;
    
    h2{
        text-align: center;
        width: 100%;
        
    }
    .cuerpo{
        width: 100%;
        // margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: center;
        align-items: center;
        
        article{
            width: 100%;
            padding-right: 30px;
            background-color: white;
            .publi{
                display: flex;
                flex-direction: row;
                justify-content: center;
                
            }
        
            h3{
                @include h3($h34);
            }
            h4{
                @include h4($h34);
            }
            .rosa{
                @include rosa($publicaciones);
            }
            img{
              @include imagen();
            }

            .boton{
                @include boton($botones);
            }
        }
    }
    .cuadros{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        article{
            width: 25%;
            text-align: center;
            display: flex;
            flex-direction: column;
            i{
                padding-top: 10px;
                font-size: 3rem;
            }
        }
            .ruta{
                @include fondocuadrado($rutas);
            }
            .mecanica{
                @include fondocuadrado($mecanica);
            }
            .bici{
                @include fondocuadrado($bicicletas);
            }
            .consejos{
                @include fondocuadrado($consejos);
            }
        
    }
}

footer{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    .footer1{
        background-color: $footer;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        article{
            width: 33.3vh;
        }
    }
    .footer2{
        background-color: $copyright;
        text-align: center;
        p{
            color: white ;
        }
    }
}













@media screen and (max-width:768px){
    .sencillo{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 0;
    }
    .footer1{
        flex-direction: column;
    }
}